#!/bin/bash

mkdir -p /opt/logs
touch /opt/logs/std.log

sed -i -e "s/\$SCRIBE_IP/$SCRIBE_IP/g" /etc/supervisord.d/scribed.conf
sed -i -e "s/\$APP_NAME/$APP_NAME/g" /etc/supervisord.d/scribed.conf

supervisord -n -c /etc/supervisord.conf

